.inputContainer {
  position: relative;
  .input {
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid var(--slate-300, #cbd5e1);
    background: #fff;
    height: 40px;
    padding: 0 10px;
    &::placeholder {
      color: #94a3b8;
      font-family: General Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px; /* 178.571% */
    }
  }
  .sendContainer {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    right: 5px;
    align-items: center;
  }
}
