@import "../../scss/custom-queries.scss";

.tabletResponsive {
  display: none;
  @media #{$max-sm} {
    width: 100%;
    height: 100%;
    display: block;
    &.mobile-none {
      display: none;
    }
    &.mobile-block {
      display: block;
    }
  }
}

.desktopResponsive {
  width: 100%;
  height: 100%;
  display: block;
  @media #{$max-sm} {
    display: none;
  }
}
