.buttonContainer {
  border-radius: 4px;
  border: 1.5px solid #fff;
  height: 45px;
  display: grid;
  place-items: center;
  background-color: transparent;
  display: flex;
  padding: 10px 15px;
  align-items: center;
}
